body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 45%;
}

h2 {
    color: #333;
}

#predictionsList {
    list-style-type: none;
    padding: 0;
}

#predictionsList li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 3px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    
    section {
        width: 100%;
    }
}
